
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Здесь будет список отзывов</p>

    @if(RateViewModel.rates.Count > 0)
    {
        @foreach(var item in RateViewModel.rates)
        {
            <div id="darktext" style="background-color: lightgray; border-radius:15px; padding: 20px; margin-bottom: 20px">
                <h3>Имя: @item.name</h3>
                <h3>Почта: @item.email</h3>
                <p>Текст: @item.message</p>
            </div>
        }
    }
</div>


@*<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog" style="">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">The name of window</div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close btn-secondary" data-bs-dissmiss="modal">
                        Close
                    </button>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Car" asp-action="Delete" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>*@