<div id="header">

	<!-- Logo -->
	<h1><a href="index.html" id="logo">low price <em>Device Market</em></a></h1>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="/Home/Index">Главная</a></li>
			<li>
				<a href="/Home/Catalog">Каталог</a>
				<ul>
					<li><a href="#">Lorem dolor</a></li>
					<li><a href="#">Magna phasellus</a></li>
					<li><a href="#">Etiam sed tempus</a></li>
					<li>
						<a href="#">Submenu</a>
						<ul>
							<li><a href="#">Lorem dolor</a></li>
							<li><a href="#">Phasellus magna</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam nisl</a></li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>
					<li><a href="/Home/Contacts">Контакты feugiat</a></li>
				</ul>
			</li>
			<li><a href="/Home/Delivery">Доставка</a></li>
			<li class="current"><a href="/Home/Index">Отзывы</a></li>
			<li><a href="/Home/Program">Программа лояльности</a></li>
			<li><a href="/Home/Partners">Наши партнеры</a></li>
		</ul>
	</nav>

</div>