<div class="col-4 col-12-narrower">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<h3>Социальные сети</h3>
			<p>
				telegram: DeviceMarket<br />
				VK: DeviceMarketOfficial<br />
				Instagram: Device_lowprice<br />
			</p>
			<footer>
				<a href="/Home/Contacts" class="button">Больше контактов</a>
			</footer>
		</section>

		<section>
			<h3>Для ваших отзывов по почте</h3>
			<ul class="links">
				<li>examle@mail.ru</li>
				<li>examle@gmail.com</li>
				<li>Ленина, 20</li>
			</ul>
			<footer>
				<a href="#" class="button">Читать все</a>
			</footer>
		</section>

	</div>
</div>