<div class="col-4 col-12-narrower">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<h3>Sidebar</h3>
			<p>
				На дворе трава,
				На траве дрова.
				Не руби дрова, 
				На траве двора
			</p>
			<footer>
				<a href="#" class="button">Continue Reading</a>
			</footer>
		</section>

		<section>
			<h3>Another Subheading</h3>
			<ul class="links">
				<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
				<li><a href="#">Ornare in hendrerit in lectus</a></li>
				<li><a href="#">Semper mod quis eget mi dolore</a></li>
				<li><a href="#">Consequat etiam lorem phasellus</a></li>
				<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
				<li><a href="#">Semper mod quisturpis nisi</a></li>
			</ul>
			<footer>
				<a href="#" class="button">More Random Links</a>
			</footer>
		</section>

	</div>
</div>